.form-instructions {
    margin-bottom: 15px;
    text-align: center; 
}

.modal {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
}

.modal-content {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color: transparent;
    display: inline-block; 
}

/* Novos estilos para centralizar a imagem e remover o fundo verde */
.image-container {
    text-align: center; /* Centraliza o conteúdo dentro do container */
    margin-top: 20px; /* Adiciona um pouco de espaço acima da imagem */
}

.centered-image {
    max-width: 100%; /* Garante que a imagem não exceda a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}


/* Remova o fundo verde */


